.team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-list {
    padding: 10px;
}

.member-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 16px;
    padding-top: 5px;
}

.member-initials {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fc979a;
    /* Choose your desired color */
    color: white;
    font-weight: bold;
    font-size: 14px;
    /* Adjust the font size as needed */
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.project-list {
    list-style-type: none;
}

.project-item {
    position: relative;
    margin-right: 20px;
}

.project-item::before {
    /* content: '\25C6'; */
    position: absolute;
    left: -5px;
}

.button {
    margin-top: 16px;
}

/* .open-modal-button-add-team {
    border: none;
    background-color: transparent;
    color: var(--color-medium-gray);
    font-weight: var(--font-regular);
    padding: 0;
} */

.open-modal-button-add-team {
    border: none;
    background-color: transparent;
    color: var(--color-medium-gray);
    font-weight: var(--font-regular);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: var(--color-light-gray);
    }
}

.open-modal-button-add-team::before,
.open-modal-button-add-team::after {
    content: '';
    position: absolute;
    width: 14px;
    height: 2px;
    background-color: var(--color-medium-gray);
}

.open-modal-button-add-team::before {
    transform: rotate(90deg);
}

.open-modal-button-add-team::after {
    transform: rotate(0deg);
}

.open-modal-button-add-team:hover::before,
.open-modal-button-add-team:hover::after {
    background-color: var(--color-dark-gray);
}
