.team-page {
    background-color: #1e1f21;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #fff;
}

.section-heading {
    margin-bottom: 10px;
    position: relative;
}

.section-line {
    border: none;
    border-top: 1px solid #ccc;
    position: absolute;
    width: 100%;
    top: 80%;
}

.members-section,
.projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.member-list-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.member-item-page {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
}

.member-initials-page {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fc979a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 24px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.member-initials-page:hover {
    color: #ffffff;
    transform: scale(1.1);
    cursor:default;
}

.member-icon-page {
    color: #1e1f21;
}

.member-name-page {
    flex-grow: 1;
}

.member-tooltip {
    display: none;
    position: absolute;
    background-color: #1e1f21;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.member-item-page:hover .member-tooltip {
    display: block;
}

.add-member-button {
    width: 60px;
    height: 60px;
    background-color: var(--color-medium-gray) ;
    color: #1e1f21;
    font-weight: bold;
    font-size: 24px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.add-member-button:hover {
    color: var(--color-light-gray);
    transform: scale(1.1);
    cursor: pointer;
}

.projects-section .section-heading::after,
.members-section .section-heading::after {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
}

.projects-section .section-heading::after {
    left: 0;
}

.members-section .section-heading::after {
    right: 0;
}

.project-list-page {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.project-item-page {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.project-icon-page {
    width: 20px;
    height: 20px;
    background-color: #66a3ff;
    display: inline-block;
    margin-right: 10px;
}

.project-name-page {
    flex-grow: 1;
}
