#modal-content>.delete-comment-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-charcoal);
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    color: white;
}

.delete-comment-buttons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 15px;
}

.delete-comment-buttons button {
    background-color: transparent;
    color: white;
    border: 1px solid var(--color-medium-gray);
    border-radius: 5px;
}

.delete-comment-buttons button:first-child {
    background-color: #8b0000;
}
