:root {
    /* Colors */
    --color-white: #FFFFFF;
    --color-light-gray: #f5f4f3;
    --color-medium-gray: #A2A0A2;
    --color-dark-gray: #424244;
    --color-charcoal: #1e1f21;
    --color-black: #1E1F21;

    /* Fonts */
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 700;

    /* Heading sizes */
    --heading-1-size: 20px;
    --heading-3-size: 45px;
    --heading-4-size: 20px;
    --heading-5-size: 16px;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Remove bullet points from list items */
ul,
ol {
    list-style: none;
}

/* Basic styles */
body {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: var(--heading-1-size);
    font-weight: var(--font-bold);
    margin-bottom: 10px;
}

h3 {
    font-size: var(--heading-3-size);
    font-weight: var(--font-regular);
}

h4 {
    font-size: var(--heading-4-size);
    font-weight: var(--font-bold);
    margin-bottom: 10px;
}

h5 {
    font-size: var(--heading-5-size);
    font-weight: var(--font-bold);
    margin-bottom: 10px;
}

/* p {
    margin-bottom: 10px;
} */

a {
    text-decoration: none;
    color: var(--color-black);
}

button {
    cursor: pointer;
    text-align: center;
    font-weight: var(--font-bold);
    padding: 8px 15px;
}

.page-container {
    padding: 40px 70px;
    height: 100vh;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.flex-split {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-split .left-side,
.flex-split .right-side {
    flex-basis: 50%;
    align-items: center;
    padding: 20px;
}

.left-side>*:not(:last-child) {
    margin-bottom: 30px;
}

/* App */
.App {
    display: flex;
    min-height: 100vh;
}

.Content {
    flex: 1;
    background-color: #1E1F21;
    /* margin-left: 20px; */
}

/* Dropdown */
.dropdown-content {
    text-align: center;
}

.dropdown-content li {
    padding: 8px 16px;
}

.dropdown-content li:not(:last-child) {
    border-bottom: 1px solid var(--color-light-gray);
}

/* Task completion */
.checkmark {
    margin-right: 5px;

}

.green path {
    fill: green;
}

.checkmark:hover {
    cursor: pointer;
}

.checkmark:hover path {
    fill: green;
}
