

  .header-container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .header-title1 {
    color: white;
    font-size: 2.5em;
    font-weight: bold;
  }

  .profile-button {
    position: absolute;
    top: 10px;
    right: 20px;
  }

  .due-date1 {
    color: white;
    margin-right: 300px;
    font-size: 1.2em;
    text-decoration: underline; /* Add underline */
  }

  .project-description1 {
    color: white;
    margin-top: 20px;
    font-size: 1.4em;
    text-decoration: underline; /* Add underline */
  }

  .project-description2{
    color: white;
    margin-top: 5px;
    font-size: 1em;
  }

  .tasks-list1 {

    color: white;
    margin-top: 20px;
    border-top: 1px solid white; /* Add line above tasks */
    border-bottom: 1px solid white; /* Add line below tasks */
    padding: 10px 0; /* Add some padding to give space to the lines */
  }

  .task-item1 {
    color: white;
    font-size: 1em;
    padding: 10px 0;
  }

  .open-modal-button1 {
    margin-top: 20px;
  }
