.signup-form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 50px;
}

.signup2 .flex {
    display: flex;
    justify-content: flex-start;
}
.header {
    margin-bottom: 10px;
}

.signup p {
    font-size: 40px;
}

.subheading {
    font-size: 15px;
    color: gray;
    margin-bottom: 20px;
}

.subheading-container {
    margin-bottom: 20px;
}

.error-list {
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
}

.form-field.signup {
    margin-bottom: 20px;
    width: 400px;
}

.form-field.signup2 {
    margin-bottom: 20px;
    width: 400px;
}

.form-field label {
    display: block;
    margin-bottom: 5px;
}

.form-field input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 0;
    /* border-bottom: .5px solid black; */
}

button.continue-btn {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.signup-btn {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.continue-btn {
    text-align: center;
}

.signup-btn {
    text-align: center;
}

.signup2 .form-field label {
    font-size: 18px;
}

.signup2 .form-field input {
    font-size: 18px;
}
