#create-project-modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-charcoal);
    width: 500px;
    border-radius: 10px;
    padding: 10px;
    color: var(--color-medium-gray);
}

.create-project-input {
    width: 100%;
    padding: 10px;
    border: 1px dashed gray;
    border-radius: 20px;
    outline: none;
    background-color: transparent;
    color: gray;
}

.form-field select {
    width: fit-content;
    padding: 10px;
    border: 1px dashed gray;
    border-radius: 20px;
    outline: none;
    background-color: transparent;
    color: gray;
}

.form-field select option {
    background-color: var(--color-charcoal);
    color: var(--color-medium-gray);
}

.create-project-button-container {
    display: flex;
    gap: 20px
}

.create-project-modal-container .form-field input::placeholder {
    color: gray;
}
